/**
 * @description:jdb.css
 * @author:lixinwei
 * @version:V1.0.0
 * @update:15/8/21
 */

.circle-logo{
    width: 50px;
    height: 50px;
}
.circle-table a.gx-button:hover{
    color: #FFF;
}
.circle-table .gx-textbox{
    width: 70px;
}
.circle-table .links{
    color: #049cdb;
}
.gx-file-img{
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.file-img-big{
    position: relative;
    width:400px;
    padding-top: 200px;
}
.file-img-small{
    position: relative;
    display: inline-block;
    width:80px;
    padding-top: 80px;
    vertical-align: middle;
}
.file-img-small span,
.file-img-big span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

.circle-create-item .circle-create-name{
    width: 576px;
}
.circle-create-item .gx-texttitle{
    text-align: left;
    width: 90px;
}
.circle-create-item .circle-edit-name{
    display: inline-block;
    font-weight: 700;
}
.gx-submit-btn{
    width: 676px;
    text-align: right;
    border-top: 1px #EEE solid;
    padding: 20px 0;
}
.gx-submit-btn button,
.gx-submit-btn a{
    margin-left: 26px;
    padding: 4px 34px;
}
